.container {
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .innerContainer {
        display: flex;

        .link,
        .text {
            font-size: 15px;
        }

        .text {
            margin-right: 10px;
        }

        .link {
            text-decoration: none;
            margin-right: 5px;
        }
    }
}
