.container {
    $padding: 20px;

    padding-left: $padding;
    padding-right: $padding;
    height: 80px;
    background: var(--dark);
    width: calc(80vw - ($padding * 2));
    max-width: calc(700px - ($padding * 2));
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transition: var(--transition);
}

.dataContainer,
.buttonContainer {
    display: flex;
}

.dataContainer {
    flex-direction: column;
}

.buttonContainer {
    align-items: center;
    gap: 30px;
}

.playButton,
.openButton,
.deleteButton {
    cursor: pointer;
    transition: var(--transition);

    &:hover {
        opacity: 0.8;
    }
}

.openButton {
    position: relative;
    width: 30px;
    height: 30px;
}
